
.SettingsMenu {
  background: #2A2A27;
  color: #FFFAFF;
  display: block;
  padding: 8px 0;
  overflow-y: scroll;
  /* overflow-x: auto; */
  height: 100%;
  position: fixed;
  top: 0;
  left: 66px;
  z-index: 1;
  
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.SettingsMenu ::selection {
  /* color: inherit; */
  background-color: transparent;
}
.SettingsMenu ::-moz-selection {
  /* color: inherit; */
  background-color: transparent;
}

.SettingsMenuTab {
  display: none;
  width: 300px;
}

.SettingsMenuTab.MenuActive {
  /* display: block; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.SettingsMenuTab .MenuTabTitle {
  display: block;
  margin: 8px 16px;
  line-height: 2rem;
  font-size: 1.8rem;
  font-weight: 600;
  width: 100%;
}
.SettingsMenuTab .SettingsSearchBox {
  display: block;
  width: 90%;
  padding: 4px 8px;
  margin: 8px;
  outline: none;

  font-size: 1rem;
}
.SettingsMenuTab > .SettingsOption {
  display: none;
}
.SettingsMenuTab > .SettingsLabel {
  display: block;
  cursor: pointer;
  width: 100%;
  outline: 0;
  padding: 8px 16px;

  background-color: #252B2D;
  border: none;
  color: #FFFAFF;
  
  font-size: 1rem;
  line-height: 1.2rem;
  text-align: left;
}
.SettingsMenuTab > input[type="checkbox"].SettingsOption:checked + .SettingsLabel {
  color: #4A89BF;
}

.SettingsMenuTab .SettingsLabel:hover { background: #282e30; }