
.SettingsMenu {
  background: #2D2D2A;
  color: #FFFAFF;
  display: block;
  box-sizing: border-box;
  padding: 2rem 0;
  overflow-y: scroll;
  /* overflow-x: auto; */
  height: 100%;
  position: fixed;
  top: 0;
  left: 66px;
  z-index: 1;
  
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.SettingsMenu ::selection {
  /* color: inherit; */
  background-color: transparent;
}
.SettingsMenu ::-moz-selection {
  /* color: inherit; */
  background-color: transparent;
}

.SettingsMenuTab {
  display: none;
  box-sizing: border-box;
  width: 300px;
}

.SettingsMenuTab.MenuActive {
  /* display: block; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.SettingsMenuTab .MenuTabTitle {
  display: block;
  margin: 8px 16px;

  font-size: 1.8rem;
  line-height: 2rem;
  font-weight: 600;
  
}
.SettingsMenuTab .SettingsSearchBox {
  display: block;
  box-sizing: border-box;
  padding: 8px 16px;
  margin: 8px;
  outline: none;
  border-radius: 8px;

  font-size: 1rem;
}
.SettingsMenuTab > .SettingsOption {
  display: none;
}
.SettingsMenuTab > .SettingsLabel {
  display: block;
  box-sizing: border-box;
  cursor: pointer;
  width: 100%;
  outline: 0;
  padding: 8px 16px;

  background-color: #2D2D2A;
  border: none;
  color: #FFFAFF;
  
  font-size: 1rem;
  line-height: 1.2rem;
  text-align: left;
}
.SettingsMenuTab > input[type="checkbox"].SettingsOption:checked + .SettingsLabel {
  color: #4A89BF;
}

.SettingsMenuTab .SettingsLabel:hover { background: #252B2D; }