
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.app-container {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}

nav.nav-bar {
  background: #1B2021;
  color: #FFFAFF;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 80px;
  padding: 8px 0;
  /* max-width: 300px; */
}
nav.nav-bar ::selection {
  /* color: inherit; */
  background-color: transparent;
}
nav.nav-bar ::-moz-selection {
  /* color: inherit; */
  background-color: transparent;
}

nav.nav-bar > .nav-icon {
  /* background: #333333; */
  cursor: pointer;
  /* margin: 16px 4px; */
  padding: 16px 4px;
  width: 100%;
}

nav.nav-bar > .nav-icon.nav-active {
  background: #252B2D;
}

nav.nav-bar > .nav-icon > .material-symbols-outlined {
  font-size: 1.8rem;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

nav.nav-bar > .nav-icon:hover > .material-symbols-outlined {
  color: #4A89BF;
}


.settings-container {
  background: #252B2D;
  color: #FFFAFF;
  display: block;
  padding: 8px 0;
  overflow-y: scroll;
  /* overflow-x: auto; */
}

.settings-container ::selection {
  /* color: inherit; */
  background-color: transparent;
}
.settings-container ::-moz-selection {
  /* color: inherit; */
  background-color: transparent;
}

#settings-menu > .menu-label {
  display: block;
  margin: 8px 16px;
  line-height: 2rem;
  font-size: 1.8rem;
  font-weight: 600;
  width: 100%;
}

#settings-menu > input[type="checkbox"].settings-option {
  display: none;
}

#settings-menu > label.settings-label {
  line-height: 1.2rem;
  font-size: 1rem;
  display: block;
  outline: 0;
  padding: 8px 16px;
  cursor: pointer;
}

.settings-option:checked + .settings-label { color: #4A89BF; }

#settings-menu > .settings-option {
  display: block;
  padding: 8px 16px;
  cursor: pointer;
}

#settings-menu > .settings-option:hover {
  background: #282e30;
}

.text-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #FFFAFF;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
#renderedText {
  height: 100%;
  width: calc(100% - 4rem);
  padding: 4rem 2rem 4rem 2rem;

  color: #1B2021;
  font-family: 'Noto Serif', serif;
}

.text-container ::selection {
  color: inherit;
  background-color: #E6C960;
}
.text-container ::-moz-selection {
  color: inherit;
  background-color: #E6C960;
}

.text-container .text-unit {
  font-size: 1.1rem;
  line-height: 1.8rem;
}
.text-container .text-unit:hover {
  color: #4A89BF;
  transition: .2s;
  -webkit-transition: .2s;
  -ms-transition: .2s;
  
  cursor: pointer;
}

#popup-container {
  display: block;
  height: 200px;
  width: calc(100% - 4rem);
  padding: 4rem 2rem 4rem 2rem;
}

#popup-container > .details-section {
  display: inline-flex;
  justify-content: center;
  flex-direction: column;
  /* height: 200px; */
  width: 50%;
  padding: 4px 0;
}

#popup-container > .details-section > .details-label {
  display: block;
  width: 100%;

  color: #636363;
  font-size: .8rem;
}