
#Onboarding-Level-1:hover #OB1-Letter-1,
#Onboarding-Level-2:hover #OB1-Letter-1,
#Onboarding-Level-3:hover #OB1-Letter-1 { animation-duration: 2100ms; }
#Onboarding-Level-1:hover #OB1-Letter-2,
#Onboarding-Level-2:hover #OB2-Letter-2,
#Onboarding-Level-3:hover #OB3-Letter-2 { animation-duration: 2300ms; animation-delay: 100ms; }
#Onboarding-Level-1:hover #OB1-Letter-3,
#Onboarding-Level-2:hover #OB2-Letter-3,
#Onboarding-Level-3:hover #OB3-Letter-3 { animation-duration: 2400ms; animation-delay: 200ms; }
#Onboarding-Level-1:hover #OB1-Letter-4,
#Onboarding-Level-2:hover #OB2-Letter-4,
#Onboarding-Level-3:hover #OB3-Letter-4 { animation-duration: 2500ms; animation-delay: 300ms; }
#Onboarding-Level-1:hover #OB1-Letter-5,
#Onboarding-Level-2:hover #OB2-Letter-5,
#Onboarding-Level-3:hover #OB3-Letter-5 { animation-duration: 2200ms; animation-delay: 400ms; }
#Onboarding-Level-1:hover #OB1-Letter-6,
#Onboarding-Level-2:hover #OB2-Letter-6,
#Onboarding-Level-3:hover #OB3-Letter-6 { animation-duration: 1900ms; animation-delay: 500ms; }
#Onboarding-Level-1:hover #OB1-Letter-7,
#Onboarding-Level-2:hover #OB2-Letter-7,
#Onboarding-Level-3:hover #OB3-Letter-7 { animation-duration: 1800ms; animation-delay: 100ms; }
#Onboarding-Level-1:hover #OB1-Letter-8,
#Onboarding-Level-2:hover #OB2-Letter-8,
#Onboarding-Level-3:hover #OB3-Letter-8 { animation-duration: 1900ms; animation-delay: 200ms; }
#Onboarding-Level-1:hover #OB1-Letter-9,
#Onboarding-Level-2:hover #OB2-Letter-9,
#Onboarding-Level-3:hover #OB3-Letter-9 { animation-duration: 2000ms; animation-delay: 300ms; }
#Onboarding-Level-1:hover #OB1-Letter-10,
#Onboarding-Level-2:hover #OB2-Letter-10,
#Onboarding-Level-3:hover #OB3-Letter-10 { animation-duration: 2100ms; animation-delay: 400ms; }
#Onboarding-Level-1:hover #OB1-Letter-11,
#Onboarding-Level-2:hover #OB2-Letter-11,
#Onboarding-Level-3:hover #OB3-Letter-11 { animation-duration: 2200ms; animation-delay: 500ms; }
#Onboarding-Level-1:hover #OB1-Letter-12,
#Onboarding-Level-2:hover #OB2-Letter-12,
#Onboarding-Level-3:hover #OB3-Letter-12 { animation-duration: 2300ms; animation-delay: 100ms; }
#Onboarding-Level-1:hover #OB1-Letter-13,
#Onboarding-Level-2:hover #OB2-Letter-13,
#Onboarding-Level-3:hover #OB3-Letter-13 { animation-duration: 2400ms; animation-delay: 200ms; }
#Onboarding-Level-1:hover #OB1-Letter-14,
#Onboarding-Level-2:hover #OB2-Letter-14,
#Onboarding-Level-3:hover #OB3-Letter-14 { animation-duration: 2500ms; animation-delay: 300ms; }
#Onboarding-Level-1:hover #OB1-Letter-15,
#Onboarding-Level-2:hover #OB2-Letter-15,
#Onboarding-Level-3:hover #OB3-Letter-15 { animation-duration: 2400ms; animation-delay: 400ms; }
#Onboarding-Level-1:hover #OB1-Letter-16,
#Onboarding-Level-2:hover #OB2-Letter-16,
#Onboarding-Level-3:hover #OB3-Letter-16 { animation-duration: 2300ms; animation-delay: 500ms; }
#Onboarding-Level-1:hover #OB1-Letter-17,
#Onboarding-Level-2:hover #OB2-Letter-17,
#Onboarding-Level-3:hover #OB3-Letter-17 { animation-duration: 2200ms; animation-delay: 600ms; }
#Onboarding-Level-1:hover #OB1-Letter-18,
#Onboarding-Level-2:hover #OB2-Letter-18,
#Onboarding-Level-3:hover #OB3-Letter-18 { animation-duration: 2100ms; animation-delay: 700ms; }
#Onboarding-Level-1:hover #OB1-Letter-19,
#Onboarding-Level-2:hover #OB2-Letter-19,
#Onboarding-Level-3:hover #OB3-Letter-19 { animation-duration: 2000ms; animation-delay: 800ms; }
#Onboarding-Level-1:hover #OB1-Letter-20,
#Onboarding-Level-2:hover #OB2-Letter-20,
#Onboarding-Level-3:hover #OB3-Letter-20 { animation-duration: 1900ms; }
#Onboarding-Level-1:hover #OB1-Letter-21,
#Onboarding-Level-2:hover #OB2-Letter-21,
#Onboarding-Level-3:hover #OB3-Letter-21 { animation-duration: 1800ms; animation-delay: 100ms; }
#Onboarding-Level-1:hover #OB1-Letter-22,
#Onboarding-Level-2:hover #OB2-Letter-22,
#Onboarding-Level-3:hover #OB3-Letter-22 { animation-duration: 1700ms; animation-delay: 200ms; }
#Onboarding-Level-1:hover #OB1-Letter-23,
#Onboarding-Level-2:hover #OB2-Letter-23,
#Onboarding-Level-3:hover #OB3-Letter-23 { animation-duration: 1600ms; animation-delay: 300ms; }
