nav.Navbar {
  background: #1B2021;
  color: #FFFAFF;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 72px;
  padding: 8px 0;
  position: relative;
  /* max-width: 300px; */
}
.Navbar ::selection {
  /* color: inherit; */
  background-color: transparent;
}
.Navbar ::-moz-selection {
  /* color: inherit; */
  background-color: transparent;
}

.Navbar > .NavIcon {
  background: #1B2021;
  border: none;
  color: #FFFAFF;
  cursor: pointer;
  /* margin: 16px 4px; */
  padding: 16px 4px;
  width: 100%;
}

.Navbar > .NavIcon.NavActive {
  background: #252B2D;
}

.Navbar > .NavIcon > .material-symbols-outlined {
  font-size: 1.8rem;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.Navbar > .NavIcon:hover > .material-symbols-outlined {
  color: #4A89BF;
}
