.Navbar {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  /* padding-bottom: 3rem; */
}

.NavButtons {
  display: flex;
  justify-content: space-around;
  flex-direction: row;

  background: #1B2021;
  color: #FAFAFA;
  width: 100%;
}
.NavButtons ::selection {
  /* color: inherit; */
  background-color: transparent;
}
.NavButtons ::-moz-selection {
  /* color: inherit; */
  background-color: transparent;
}

.NavButtons > .NavIcon {
  display: block;
  background: #1B2021;
  border: none;
  color: #FAFAFA;
  cursor: pointer;
  padding: 16px 8px;
  width: 64px;
}

.NavButtons > .NavIcon.NavActive {
  /* background: #252B2D; */
  background: #4A89BF;
}

.NavButtons > .NavIcon > .material-symbols-outlined {
  font-size: 1.8rem;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.NavButtons > .NavIcon:hover {
  background: #252B2D;
}
.NavButtons > .NavIcon.NavActive:hover {
  background-color: #3A74A6;
}

.NavButtons > .NavIcon:hover > .material-symbols-outlined {
  color: #4A89BF;
}
.NavButtons > .NavIcon.NavActive:hover > .material-symbols-outlined {
  color: #FFFAFF;
}

@media (min-width: 600px) {
  .Navbar {
    flex-direction: row;
  }
  
  .NavButtons {
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding: 8px 0;
    width: auto;
  }
}