.Navbar {
  height: 100%;
}

.Navbar.NavDark {
  background: #252B2D;
}
.Navbar.NavLight {
  background: #EAEAF6;
}

.NavButtons {
  display: flex;
  justify-content: space-around;
  flex-direction: row;

  background: #EAEAF6;
  color: #252B2D;
  width: 100%;
  padding-bottom: env(safe-area-inset-bottom);

  position: relative;
  z-index: 2;
}
.Navbar.NavDark .NavButtons {
  background: #1B2021;
  color: #F8F8FC;
}

.NavButtons ::selection {
  background-color: transparent;
}
.NavButtons ::-moz-selection {
  background-color: transparent;
}

.NavButtons .NavIcon,
.NavButtons .NavLogo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 16px 8px;
  /* min-width: 64px; */
  width: 20%;

  background: #EAEAF6;
  border: none;
  border-radius: 0;
  color: #252B2D;
  cursor: pointer;
  font-size: 13.3px;
  text-decoration: none;
}
.Navbar.NavDark .NavButtons .NavIcon,
.Navbar.NavDark .NavButtons .NavLogo {
  background: #1B2021;
  color: #EAEAF6;
}

.NavIcon .NavLink {
  color: #1B2021;
  text-decoration: none;
}
.Navbar.NavDark .NavIcon .NavLink {
  color: #F8F8FC;
}

.NavIcon .NavIconTitle {
  display: block;
  width: 100%;
  margin-top: 4px;
  text-align: center;
  text-decoration: none;
}


.NavButtons .NavIcon.NavActive {
  background: #4A89BF;
}

.Navbar.NavDark .NavButtons .NavIcon:hover,
.Navbar.NavDark .NavButtons .NavIcon:hover .NavLink {
  background: #252B2D;
}
.NavButtons .NavIcon.NavActive:hover,
.NavButtons .NavIcon.NavActive:hover .NavLink {
  background-color: #3A74A6;
}

.NavButtons .NavIcon:hover,
.NavButtons .NavIcon:hover .NavLink {
  color: #4A89BF;
}
.NavButtons .NavIcon.NavActive:hover,
.NavButtons .NavIcon.NavActive:hover .NavLink {
  color: #FFFAFF;
}

@media (min-width: 600px) {
  .Navbar {
    flex-direction: row;
  }
  .NavButtons {
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding: 8px 0;
    width: auto;
  }
  .NavButtons .NavIcon {
    width: 64px;
  }
  .NavIcon .NavIconTitle {
    font-size: 11px;
  }
}