
.SettingsMenu {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  overflow-y: scroll;
  padding: 2rem 0;
  max-height: 80vh;

  background: #EDF2F4;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  color: #1B2021;
  font-size: 1.2rem;
  line-height: 1.2rem;
  text-align: left;

  box-shadow: rgba(99, 99, 99, 0.2) 0px -2px 8px 0px;
  position: relative;
  z-index: 1;
}
.SettingsMenu.MenuLight {
  background: #EDF2F4;
  color: #1B2021;
}
.SettingsMenu.MenuDark {
  background: #1B2021;
  color: #FAFAFA;
}

.SettingsMenu ::selection,
.SettingsMenu ::-moz-selection {
  background-color: transparent;
}

.SettingsMenuTab {
  /* display: none; */
  box-sizing: border-box;
  width: 300px;

  display: flex;
  /* visibility: hidden;
  transform: translate(-1rem, 0);

  transition: 300ms; */
}

.SettingsMenuTab.MenuActive {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  width: 100%;

  /* visibility: visible;
  transform: translate(0, 0); */
}

.SettingsMenuTab .SettingsSearchBox {
  display: block;
  box-sizing: border-box;
  padding: 12px 20px;
  margin: 8px 2rem;
  
  outline: none;
  border: #DAE4E7;
  border-radius: 8px;

  font-size: 1.2rem;

  transition: 100ms;
}
.SettingsMenuTab > .SettingsSearchBox:hover,
.SettingsMenuTab > .SettingsSearchBox:focus {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.SettingsMenuTab > .SettingsSearchBox ::selection,
.SettingsMenuTab > .SettingsSearchBox ::-moz-selection {
  background-color: #4A89BF;
}

.SettingsMenuTab > .SettingsNotice,
.SettingsMenuTab > .SettingsLabel {
  display: block;
  box-sizing: border-box;
  width: 100%;
  outline: 0;
  padding: 12px 2rem;

  background-color: #EDF2F4;
  border: none;
  
  font-size: 1.2rem;
  line-height: 1.2rem;
  text-align: left;
}
.SettingsMenu.MenuLight .SettingsNotice,
.SettingsMenu.MenuLight .SettingsLabel {
  background-color: #EDF2F4;
}
.SettingsMenu.MenuDark .SettingsNotice,
.SettingsMenu.MenuDark .SettingsLabel {
  background-color: #1B2021;
  color: #FAFAFA;
}

.SettingsMenuTab > .SettingsOption {
  display: none;
}
.SettingsMenuTab > .SettingsLabel {
  cursor: pointer;
  transition: 100ms;
}

.SettingsMenuTab .SettingsLabel:hover,
.SettingsMenu.MenuLight .SettingsLabel:hover {
  background-color: #DAE4E7;
}
.SettingsMenu.MenuDark .SettingsLabel:hover {
  background-color: #252B2D;
}

.SettingsMenuTab > input[type="checkbox"].SettingsOption:checked + .SettingsLabel {
  color: #4A89BF;
}

@media (min-width: 600px) {
  .SettingsMenu {
    display: block;
    max-height: none;

    font-size: 1rem;
    line-height: 1rem;

    border-radius: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /* box-shadow: 0 1px 2px 0 #0000, 0 1px 3px 1px #0000; */
    /* transition: box-shadow .08s linear,min-width .15s cubic-bezier(0.4,0,0.2,1) */
  }
  .SettingsMenuTab .SettingsSearchBox {
    font-size: 1rem;
    padding: 8px 16px;
  }
  .SettingsMenuTab > .SettingsNotice,
  .SettingsMenuTab > .SettingsLabel {
    font-size: 1rem;
    padding: 8px 2rem;
  }
  .SettingsMenuTab.MenuActive {
    justify-content: center;
  }
}
