.GreekText {
  font-family: 'Noto Serif', serif;
}

.HebrewText {
  direction: rtl;
  font-size: 1.4rem;
  line-height: 2.2rem;
}

.TextContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;

  font-size: 1.1rem;
  line-height: 2rem;

  position: relative;
  top: 0;
}

.TextContainer.TextLight {
  background: #F8F8FC;
  color: #1B2021;
}
.TextContainer.TextDark {
  background: #252B2D;
  color: #F8F8FC;
}

.TextContainer ::selection {
  color: inherit;
  background-color: #E6C960;
}
.TextContainer ::-moz-selection {
  color: inherit;
  background-color: #E6C960;
}

.TextRendererRow {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.TextRendererRow.SpaceBetween { justify-content: space-between; }

.TextForm {
  padding: .6rem 0 .4rem;
}

.TextContainer .TextRendererRow .TextRendererColumn {
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.TextDisplay {
  font-family: 'Noto Serif', serif;
  padding: 2rem;
}

.TextDisplay .TextHeading {
  display: block;
  font-size: 3.2rem;
  line-height: 3.6rem;
  text-align: center;
  margin: 0 0 2rem;
}

.TextDisplay.TextLight .TextHeading {
  color: #1B2021;
}

.TextDisplay.TextLight .TextHeading {
  color: #1B2021;
}

.TextContainer .TextUnit {
  margin-left: 4px;
  /* margin-right: 2px; */
}

.TextUnit > .TextUnitHelp {
  font-size: 1rem;
  line-height: 2rem;
  opacity: .8;
}

.TextContainer .TextUnit.HiglightOnHover {
  transition: .2s;
  -webkit-transition: .2s;
  -ms-transition: .2s;
}
.TextContainer .TextUnit.HiglightOnHover:hover {
  color: #4A89BF;
  cursor: pointer;
}

/* Text Control Buttons */
.TextControls {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  min-width: 200px;
  margin-bottom: 2rem;
}

.TextControls.InvertDirection {
  flex-direction: row-reverse;
}

.TextControlButton {
  cursor: pointer;
  outline: none;
  border: #fff;
  border-radius: 50%;
  height: 64px;
  width: 64px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.TextControlButton.ButtonLeft { margin-left: 2rem; }
.TextControlButton.ButtonRight { margin-right: 2rem; }
/*
 * @TODO - Break Text Details into sidebar
 * @TODO - Use DetailsSection for each info unit 
 * @TODO - Style each info unit according to function
 */

@media screen and (min-width: 800px) {
  .TextDisplay {
    padding: 4rem 4rem 2rem;
  }
  #RenderedText {
    height: 100%;
    width: 80%;
    padding: 6rem 0 0;
    max-width: 650px;
  }
  .NavButtons > .NavIcon {
    display: block;
  }
  .TextControls {
    width: 500px;
  }
}
