.GreekText {
  font-family: 'Noto Serif', serif;
}

.TextContainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background: #FAFAFA;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;

  font-size: 1.1rem;
  line-height: 2rem;

  position: relative;
  top: 0;
}

.TextContainer ::selection {
  color: inherit;
  background-color: #E6C960;
}
.TextContainer ::-moz-selection {
  color: inherit;
  background-color: #E6C960;
}

.TextRendererRow {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.TextRendererRow.SpaceBetween { justify-content: space-between; }

.TextForm {
  background-color: #FAFAFA;
  padding: .6rem 0 .4rem;
}

.TextForm .TextSelect {
  font-size: .8rem;
  padding: .6rem 1rem;
  background-color: #FAFAFA;
  border: 1px solid #CACDE1;
  border-radius: 8px;
  cursor: pointer;

  appearance: none;
  outline: none;
  /* safari */
  -webkit-appearance: none;
}

.TextContainer .TextRendererRow .TextRendererColumn {
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.TextDisplay {
  width: calc(100% - 8rem);
  padding: 4rem;

  color: #1B2021;
  font-family: 'Noto Serif', serif;
}

.TextDisplay.ReducedSize {
  width: calc(100% - 6rem);
  padding: 4rem 2rem 4rem 4rem;
}

.TextContainer .TextHeading {
  display: block;
  font-size: 3.2rem;
  line-height: 3.6rem;
  text-align: center;
  margin: 0 0 2rem;
}

.TextContainer .TextUnit.HiglightOnHover {
  transition: .2s;
  -webkit-transition: .2s;
  -ms-transition: .2s;
}
.TextContainer .TextUnit.HiglightOnHover:hover {
  color: #4A89BF;
  cursor: pointer;
}

/*
 * @TODO - Break Text Details into sidebar
 * @TODO - Use DetailsSection for each info unit 
 * @TODO - Style each info unit according to function
 */
.TextContainer .TextDetails {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: flex-start;

  box-sizing: border-box;
  height: calc(100vh - 70px);
  /* height: calc(100vh - 70px - 1rem); */
  width: 240px;
  padding: 2rem 1.8rem 0 1.8rem;

  background: #EFEFEF;
}

.TextContainer .TextDetails > .DetailsSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 48%;
  margin: 0 2% 1rem 0;
}

.TextContainer .TextDetails > .DetailsHeading {
  display: block;
  width: 100%;
  margin: 0 0 1rem;

  font-size: 3.2rem;
  line-height: 3.2rem;
  text-align: left;
}

.TextContainer .TextDetails > .DetailsSection > .DetailsLabel {
  display: block;
  width: 100%;

  color: #636363;
  font-size: .8rem;
  line-height: 1rem;
}

.TextContainer .TextDetails > .DetailsSection > .DetailsValue {
  display: block;
  width: 100%;

  /* color: #636363; */
  font-size: 1rem;
  line-height: 1.2rem;
}


@media screen and (min-width: 800px) {
  #RenderedText {
    height: 100%;
    width: 80%;
    padding: 6rem 0 0;
    max-width: 650px;
  }
}
